$primary: #275D8F;      // Azul marino suave
$secondary: #C7E7F3;    // Celeste claro
$light-bg: #F5F0E3;     // Color arena de fondo
$neutral-gray: #E6E6E6; // Gris claro
$accent: #3BB9C5;       // Turquesa (botones, íconos)